/* general styles */
body{
  font-family:'Ubuntu Mono',monospace;
}

h1 {
    text-transform: lowercase;
    font-size: 6em;
    position: relative;
    left: 0px;
    line-height: .75em;
    font-family:'Oswald', sans-serif;
    text-transform:uppercase;
}
div::-moz-selection,p::-moz-selection,img::-moz-selection,h1::-moz-selection {
  color: red;
}
div::selection,p::selection,img::selection,h1::selection {
  color: red;
 }
img{
  width:100%;
}
p{
  font-size:1.2em;
}
$highlight-color : #9fa0c6;
/* utils */
.caps{
  text-transform: uppercase;
}
.readBlack{
  color:black;
}
.backBlack{
  background-color:black;
  color:white;
}
.highlightIt{
  color:$highlight-color;
}

/* all the rest */
.mainRow{
  padding:2vw 0vw;
}

.myName{
  text-transform: lowercase;
  font-size: 6em;
  font-family:'Oswald', sans-serif;
  line-height: 80px;
  color:white;
  padding-left:0px;
  text-align:right;

}
.firstName{
  position:relative;
  // left:-31px;
}
.infoSection{
  position:relative;
  left:0px;
}
.infoSection select{
  display:inline;
}
.really{
  color:white;
  opacity:0;
}
.really.thirdDegree{
  font-weight: bold;
  text-transform: uppercase;
  z-index: 12;
}
.card-header{
  font-family:'Oswald', sans-serif;
  background-color: $highlight-color;
}
.card{
  transform:scale(1);
  transition:.4;
}
.card:hover{
  transform: scale(1.1);
}
.projectImg{
  transform:scale(1);
  transition:.4;
}
.projectImg:hover{
  transform: scale(1.1);
}

.btn-highlight{
  background-color:$highlight-color;
}
.revealable{
  display:none;
  color:white;
}
.revealable.active{
  display:block;
}
.revealableButtons{
  margin-left:50%;
  margin-right:50%;
}
option[value='wrong']{
  background-color:red;
}
option[value='correct']{
  background-color:green;
}
input,textarea{
  width:400px;
  border:none;
  border-left:1px solid black;
  outline:none;
  padding-left:8px;
}
input::before,textarea::before{
  content:'<i class="fa fa-pencil" aria-hidden="true"></i>';
}
input[type='submit']{
  border:none;
  border-radius:.3rem;
  background-color:$highlight-color;
}
.btn.revealToggle .rarr{
  position:relative;
  left:0px;
  transition: .2s;
}
.fa-file-text-o{
  font-size:30em;
  top:57px;
}
a .fa-file-text-o{
  color:black;
}
.btn.revealToggle:hover .rarr{
  left:6px;
}
@media (max-width: 767px) {
  .fa-file-text-o{
    font-size:10em;
  }
  .revealableButtons{
    margin-left:auto;
    margin-right:auto;
  }
}
@media (max-width: 576px) {
  h1{
    font-size:4em;
    left:-17px;
  }
  input,textarea{
    width:100%;
  }
}
